<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.contactos" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>contactos</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="http://192.168.0.17/contactos/insert.php" />
</widget>
